@charset "utf-8";
/*FOR MORE BUTTON*/
.custom_event_btns {
    display: block;
    margin: 30px auto 10px;
}

.custom-col-md-3 {
    float: left;
    position: relative;
    width: 32%;
    margin-left: 1%;
}

.right_nav > li .dropdown-toggle {
    margin-top: 0;
}

.custom_display_block {
    display: block;
}

.view_table_wrap p{
    margin: 30px 0 -30px 30px
}
